body{font: 76% arial,sans-serif;text-align:center;
//background:#F9F9F9;
}
div#spacer {
  clear:both;
}
p{margin:0 10px 10px}
div#header {
    border-bottom: 1px solid #0000CC;
}

a:link {
  color: #0000D8; text-decoration: underline; 
}
a:active {
  color: #0000D8; text-decoration: underline; 
}
a:visited {
  color: #0000D8; text-decoration: underline; 
}
div#header p{height:30px;
  line-height:30px;
  text-shadow: #ccc  1px 1px 1px;
  font-size:18px;
  font-weight:bold;
  margin:0;
  padding-left:10px;}
div#container{text-align:left;}
div#content p{line-height:1.4}
div#navigation ul{margin:15px 0; padding:0; list-style-type:none;}
div#navigation li{margin-bottom:5px;}
div#extra{background:#a7a7a7;}
div#projects p{font-weight:bold;
  text-shadow: #ccc  1px 1px 1px;
  font-size:20px;margin:0; }

div#footer{
    background:#94918f;
    position:absolute;
    bottom:0;
    border-top:2px;
}
div#footer p{margin:0;padding:5px 10px}
div#container{
    width:100%;
    margin:0 auto;
    height:auto;
    min-height:100%;
    position:relative;
}
div#wrapper {
 // padding-right: 20px;
 // padding-bottom: 50px;
  height:auto;
}
div#content {
    float:right;
    width:88%;
    padding-bottom: 2%;
    //border-right:1px solid #a7a7a7; 
    //border-left: 1px solid #a7a7a7;
    //border-bottom: 1px solid #a7a7a7;
    //border-top: 1px solid #a7a7a7;
   // background: #F9F9F9;
    margin-bottom: 20px;
    margin-top:0px;
    //margin-right: 10px;
    min-height:100%;
    //position:relative;
}

div#navigation {
    float:left;
    width:10%;
    height:100%;
    margin: 0px 0px 0px 5px;
    text-align: left;
    padding: 0px;
}
/*#navigation a:hover {
  font-color: #a7a7a7;
  background: #a7a7a7;
    
}*/
#navigation li{
  padding: 2px 0 2px 6px;
}
div#messagebox {
  float:left;
  width:45%;
  margin: 20px 5px 20px 20px;
  padding: 10px;
}
div#msgDisp {
  margin:5px;
  padding: 5px;
  background: #F9F9F9;
}
div#ticketbox {
  float:right;
  width:45%;
  margin:20px 10px 20px 5px;
  padding: 10px;
}
div#ticketDisp {
  margin: 5px;
  padding: 5px;
}

div#todosbox {
  float:right;
  width:45%;
  margin:20px 10px 20px 5px;
  padding: 10px;
}
div#todoDisp {
  margin: 5px;
  padding: 5px;
}
div#extra{float:left;clear:left;width:100%}
div#footer{clear:both;width:100%}
div#spacer{
    clear:both;
    height:5px;
}
div#projects {
    height: 4em;
    border-bottom:1px solid #E5ECF9;
}

/************************************* Tabs in pages ****************************/
div#tab_menu {
  height: 26px;
  border-bottom:1px solid #E5ECF9;
  border-top:1px solid #0000CC;
  background: #E5ECF9;
}
.menu_tab {
  padding:5px;
  float:left;
  margin:0 5px 0 0 ;
}
ul#tabs1 {
    list-style-type: none;
    padding: 15px;
    width: auto;
}
ul#tabs1 li {
    background: #E5ECF9; 
    padding: 0 5px 0 0;
    float: left;
}
/* #tabs A {
    color:#000;
    background:#A7ACC0;
    margin: 0;
    padding: 4px; 
    border-left:1px solid #a7a7a7;
    border-top:1px solid #a7a7a7;
    border-right:1px solid #a7a7a7;
}
#tabs A:hover,
#tabs A:active,
#tabs A.selected:link,
#tabs A.selected:visited {
    background:#fff;
}

#tabs A.selected:link,
#tabs A.selected:visited {
    position:relative;
    z-index: 2;
}
#tabs UL A.selected:link,
#tabs UL A.selected:visited {
    background:#fff;
} */
/************************************ dialog display ****************************/
table#project {
    background: #E5ECF9;
    border: 1px solid #B6CDFB;
    height:50px;
    width: 350px;
    margin: 5px ;
    padding: 1em;
}
table#project thead{
  background: transparent(/images/thead.gif) repeat-x scroll left bottom;
}

th#title {
   // background: #6076D1;
    padding: 2px;
   // text-align: center;
   font-size: 14px;

}
tr#highlight {
  padding: 3px;
}

tr#spacer {
    padding: 15px;
}
table.tickets {
  width:100%;
  background:#fff;
  border-collapse: collapse;
}

table th#number {
  width:2%;
}
table th#summary {
  width:20%;

}
table th#description {
  width:60%;
}
table th#Assigne {
  width:10%;
}
table th#status {
  width: 8%;
}

table.tickets thead th {
  font-color: #4D4648;
  background: #E5ECF9;
  text-align: center;
  padding: 0.7em;
  font-color: #4D4648;
  border-right: 1px solid #B6CDFB ;
}
table.tickets th {padding-top: 0.6em; padding-bottom: 0.54em;font-weight:bold; }
table.tickets {
  border: 1px solid #B6CDFB !important;
}
table.tickets td {
  border: 1px solid #B6CDFB !important;
  height: 2.5em;
  padding: 2px;
}
table.tickets tr{
  border:1px solid #DCDCDC;
  cursor: pointer;
}
table.tickets tr:hover td,
table.tickets tr.hover td {
  background-color: #F9F9F9;
}
/*************** Text box and inputs *************/
input.title {
  border: 1px solid #819ED3;
  font-size: 19px;
  font-weight: bold;
  padding: 2px;
  width: 600px;
  margin: 2px 2px 4px 2px;
}
input.text {
  border: 1px solid #819ED3;
  font-size: 13px;
  padding: 2px;
  margin: 2px 2px 4px 2px;
}

textarea.body {
  margin: 2px 2px 4px 2px;
  border: 1px solid #819ED3;
  font-size: 15px;
  padding: 3px;
  width:600px;
}
div#formbox {
  background:#E5ECF9;
  padding:10px;
  padding-right:0px;
  margin-top:19px;
  margin-right: 0px;
}
/*****************  div dialog ***************/
div#new_todo {
  border: 1px solid #94918F;
  padding: 10px;
  margin:15px 40px 5px 10px;
  background:#DCDAD9;
  }
div#new_message {
  border: 1px solid #94918F;
  padding: 10px;
  padding-bottom: 30px;
  margin:0px 20px 5px 10px;
  background:#DCDAD9;
  }
div.shadow  {
     float:left; 
      background: url(/images/dropshadow.gif) no-repeat bottom right; 
       margin: 10px 10px 10px 10px;
 }
div#action {
  float:right;
}
/**************** table block *******************/
table#tickets {
  border-collapse: collapse;
  border: 1px solid #94918F;
  width:95%;
  margin: 5px;
}
tr#tickets {
  background:#C4C4C4;
  padding:3px;
  border: 1px solid #aaaaaa;
  font-size: 13px;
  text-align: center;
}
th#tickets{
  background:#ffffff;
}
td.tickets {
  border: 1px solid #C4C4C4;
  margin:0px;

}
tr#tickets a.hover{
  background-color: red;
}
/********************  Ticket ********************************/
div#show_ticket {
 // border: 1px solid #0000CC;
  background: #E5ECF9;
  padding: 15px;
  margin-top: 15px;
}
div#show_ticket_title {
  font-weight: bold;
  font-size: 15px;
  background:#C4D4F2;
  padding: 5px;
  margin-bottom:15px;
}
div#show_ticket_data {
  width:80%;
  border-top: 1px solid #C4D4F2;
  height: 3%;
}
div#show_ticket_left {
  float:left;
  padding:3px;
  text-align:left;

}
div#show_ticket_right {
  float: right;
  padding:3px;
  text-align:left;
}
div#show_ticket_description {
  border-top: 1px solid #C4D4F2;
  padding: 5px;
}
div#show_ticket_links {
  border-top: 1px solid #C4D4F2;
  padding: 10px; 
  text-align:right;
}
/*********************************** Milestone *********************************/
div#milestone {
  border: 1px solid #C4D4F2;
  border-right: 3px solid #C4D4F2;
  width:80%;
  border-bottom: 3px solid #C4D4F2;
  margin: 5px;
  padding:10px;
  height:70px;
  margin-top: 10px;
}
div#milestone_desc {
  float:right;
}
div#milestone_icon {
  float:left;
}
div#milestone_data {
  float:left;
  width:85%;
}
div#milestone_title {
  font-weight:bold;
  //background: #C4D4F2;
  font-size:15px;
  padding:10px;
}
div#milestone_links {
  float:right;
}
div#milestone_graph {
  border: 2px solid #B6CDFB;
  width: 300px;
  height:15px;
  padding:1px;
  }
div#milestone_pic {
  width:300px;
}
/************************************ calendar *********************************/
#calendar {
    margin: 2px auto;
    padding:2px;
}

/********************** snippets **********************************************/
textarea.pastebox {
  width: 100%;
  height:60%;
  border: 2px solid #ccc;
  font-family:Courier New;
  padding:3px;
  font-size: 14px;
}
div#snippet_user {
  float:left;
  padding:2px;
}

div#snippet_time {
  float:right;
  padding:2px;
}

div#snippet_area {
  margin:10px;
  padding:5px;
  width:60%;
}
div#private {
  text-align:right;
}
div#snippet_links {
  margin:10px;
  padding: 3px 5px 0 0;
}
div#snippet_links a {
  padding: 3px 5px 0 0;
}
div#snippet_view {
  background:#EEEEEE;
  padding:5px 15px;
  margin-bottom:  1em;
}
/***************** GTDs ***************************/
div#Normal {
  border:1px solid #ccc;
  margin: 4px;
  padding :5px;
  background:#EEEEEE;
}
div#important {
  border:1px solid #ccc;
  margin: 4px;
  padding :5px;
  background: #FDFFA1;
}
div#Itsok {
  border:1px solid #ccc;
  margin: 5px;
  padding :4px;
}
div#high {
  border:1px solid #ccc;
  margin: 4px;
  padding :5px;
  background:#FF7B58;
}
div#date {
  border:1px solid #231512;
  background:#231512;
  padding:1px;
  color:#fff;
  width:75px;
  position:relative;
  float:left;
}

/**************** chirps ***************************/
textarea.chirpbox {
  width: 95%;
  border: 1px solid #666464;
  font-family:Courier New;
  font-size: 14px;
  padding:4px;

} 
div#chirp_content {
  width:60%;

}
div#chirp_message_box {
  width:100%;
  border: 1px solid #ccc;
  border-right :2px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding:  5px;
}
/************************ Projects Rleated... ***********************************/
/********** Messages ******************/

div#message_disp {
  border: 1px solid #B6CDFB;
  margin: 10px;
  border-left: 10px solid #B6CDFB;
  padding: 6px;
  padding-bottom:12px;
  background: #fff;
}

div#message_disp:hover {
  background: #F9F9F9;
  cursor:pointer;
}
/******************* Overview *********************/

div#overview_headings {
  border-bottom: 1px solid #B6CDFB;
  font-size: 16px;
  font-weight: bold;
}
/************** Repository **************/

div#repository {
  margin-top: 15px;
  height:60px;
  border: 1px solid #B6CDFB;
  padding: 5px;
}
div#repository_heading {
  background: #E5ECF9;
  font-size: 15px;
  font-weight:bold;
  padding:3px;
}
div#repository p {
  font-size: 13px;
  font-weight:bold;
  padding: 3px;
}
div#noprojects {
  background: #E5ECF9;
  font-size: 12px;
  margin: 20px;
  padding:10px;
  text-align:center;
  width:400px;
  font-style: italic;

}
input.title {
  font-size: 15;
}
textarea.textbox {
  font-size: 17;
}
