
<div style="float:right;">
    <a href="/user_sessions/destroy"> Logout </a>
</div>
<div id="header"><h1><a href="/dashboard">S i l l a r a i</a></h1></div>
<%= render :partial => "/layouts/spacer" %>
