<div id="header">
<div style="float:right;">
  <img src="/images/icons/door_out.png" align="absMiddle" ><a href="/user_sessions/destroy"> Logout </a>
</div>
<p><a href="/dashboard">/\</a><%= DateTime.now.strftime("  %A, %d %B %Y") %> </p>

</div>
<br><br>
<%= render :partial => "/layouts/spacer" %>
