<div id="navigation">
    <p><strong>Menu</strong></p>
    <ul>
        <li id="navigation"><a href="/projects">Projects</a></li>
        <li id="navigation"><a href="/gtds"> Get Things Done</a></li>
    </ul>
</div>

